<li class="list-group-item">Moussaka</li>
<li class="list-group-item">Papoutsakia</li>
<li class="list-group-item">Pastitsio</li>
<li class="list-group-item">Souvlaki</li>
<li class="list-group-item">Soutzoukakia</li>