<li class="list-group-item">Chicken salad</li>
<li class="list-group-item">Lemon-Pepper Salmon</li>
<li class="list-group-item">Roasted Brussels Sprouts</li>
<li class="list-group-item">Hash Brown Casserole</li>
<li class="list-group-item">Seafood Salad</li>