<li class="list-group-item">Chicken Makhani</li>
<li class="list-group-item">Samosas</li>
<li class="list-group-item">Naan</li>
<li class="list-group-item">Biryani</li>
<li class="list-group-item">Madras Curry</li>