<li class="list-group-item">Lentil Soup</li>
<li class="list-group-item">Tofu Salad</li>
<li class="list-group-item">Curry Tempeh</li>
<li class="list-group-item">Mongolian Seitan</li>
<li class="list-group-item">Beans Chilli</li>