#cluster-map{
    width: 100%;
    height: 500px;
}

#map{
    width: 100%;
    height: 300px;
}

body{
    background-color: #f2f2f2;
}

.navbar-brand{
    font-family: 'The Nautigal', cursive;
    font-size: 1.5em;
}